.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}

.canvas {
  float: left;                  /* Add this */
  width: 650px;
  height: 600px;
  background-color: #F09A9D;
}

.chat {
  float: left;                  /* Add this */
  width: 250px;
  height: 600px;
  background-color: #F5CF8E;
}

.footer {
  clear: both;            /* Add this */
  height: 100px;
  background-color: #D6E9FE;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}